---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Edit Password">
  <form method="POST" action="/edit/password">
    <div>
      <label for="field_current_password">Current Password:</label>
      <input type="password" name="password" id="field_current_password" autocomplete="password" autofocus required/>
    </div>
    <div>
      <label for="field_new_password">New Password:</label>
      <input type="password" name="password" id="field_new_password" autocomplete="new_password" required/>
    </div>
    <div>
      <label for="field_retype_password">Retype New Password:</label>
      <input type="password" name="password" id="field_retype_password" autocomplete="confirm_password" required/>
    </div>
    <button type="submit">Change Password</button>
  </form>
</Layout>
