---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>Not logged in</div>
  <div>
    <form method="GET" action="/login">
      <button type="submit">Login</button>
    </form>
  </div>
</Layout>
