---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  [[ if eq .Mismatch "1" ]]
  <p>Invalid username or password</p>
  [[ else if eq .Mismatch "2" ]]
  <p>Check your inbox for a verification email</p>
  [[ end ]]
  [[ .AuthTemplate ]]
  <div class="w-full">
    <form method="POST" action="/login">
      <input type="hidden" name="redirect" value="[[ .Redirect ]]"/>
      <div class="w-full">
        <label>Email: <input type="email" name="email" value="[[ .UserEmail ]]" required/></label>
      </div>
      <button type="submit">Continue</button>
    </form>
  </div>
  [[ if gt (len .AuthButtons) 0 ]]
  <div class="auth-buttons">
    [[ range $authButton := .AuthButtons ]]
    [[ . ]]
    [[ end ]]
  </div>
  [[ end ]]
</Layout>

<style>
  form label {
    white-space: nowrap;
    justify-content: space-between;
    display: flex;
    gap: 1em;
  }
</style>
