<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{.ServiceName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{template "header.go.html" .}}
<main>
  {{if eq .Mismatch "1"}}
  <p>Invalid username or password</p>
  {{else if eq .Mismatch "2"}}
  <p>Check your inbox for a verification email</p>
  {{end}}
  [[.AuthTemplate]]
  <!--
  <div style="display: none;">
    <button id="start-passkey-auth">Sign in with a passkey</button>
  </div>
  -->
</main>
</body>
</html>
